/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: Landing Sumo - Theme 15
 * URL: http://LandingSumo.com
 * Version: 1.0
 */

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */

/* Cathy Additions Nav */
.navbar-default {
	background-color: #fff !important;
	border-bottom: 2px solid #eee;
	padding: 15px 0;
	height:100px;
}

#homepage .navbar-default {
	z-index:2;
}

.navbar-default li a {
	letter-spacing: .05em;
	padding-left:20px;
	padding-right:20px;
}

.navbar-default img {
	width:30%;
}

#homepage .affix {
    background: gray;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
  }

/* Cathy Additions Hompeage */
.homepage-intro .mtb2 {
	margin-top:30px;
	margin-bottom: 60px;
}

#g {
	padding-bottom:40px;
}

#g h2 {
	text-align: center;
}

.btn-design {
	background-color: #1abc9c;
	color:#fff;
	margin-top:20px !important;
	margin-left:0;
	margin-right:0;
}

#g a, #workshop-white a {
	color:#5a5a5a;
}

#f, #t {
	margin-top:0px !important;
}

#copyright .icon {
	padding-left: 10px;
	padding-right: 10px;
}

/*form input {
	border-radius: 3px;
    border: 1px solid #c9c9c9;
    box-sizing: border-box;
    color: #4c4c4c;
    outline: 0;
    width: 100%;
    max-width: 100%;
    min-width: 50px;
    margin-bottom:15px;
    height:40px;
}

#mc-embedded-subscribe {
	background-color: #1abc9c;
	color:#fff;
	margin-left:0;
	margin-right:0;
	margin-bottom:10px;
	border:none;
}*/

/* Cathy Additions Workshops Page */
#workshop-page {
	position: relative;
}

#workshop-page h1 {
	padding:30px 0 20px 0;
}

#workshop-intro-bg {
	background-size: cover;
	display: block;
	filter: grayscale(100%);
	opacity: 0.1;
	height: 800px;
	left: 0;
	position: fixed;
	right: 0;
	z-index: 1;
}

.wkshop {
	position: relative;
	background: #ececec;
	padding: 100px 0;
}

.cwp.opaque {
    background: hsla(0,0%,100%,.5);
}

.cwp {
    padding: 30px;
}
.cwp img {
	width:50%;
}

.mtop {
    margin-top: 30px;
}

.cwp h2 {
    font-size: 30px;
    padding-bottom:30px;
}

.cwp p {
    margin: 0 0 12.5px;
    letter-spacing: .05em;
}


.wkshop .container {
	position: relative;
    z-index: 2;
} 

.bordered-title, h1.bordered-title, h2.bordered-title, h3.bordered-title {
	color: #1abc9c;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.4em;
    margin-bottom: 30px;
    text-align: center;
}

.class123-label {
    color: #777 !important;
}

li.active a {
	background-color:transparent !important;
	color:#1abc9c !important;
}

/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
* { 
	margin: 0;
	padding: 0px;
    font-family: 'Lato', sans-serif;
} 
body { 
	background: #fff; 
	margin: 0; 
	color: #5a5a5a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
	font-weight: 300;
}


p, li, .dropdown-menu li a {  
	margin-bottom: 12px; 
    font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px; 
	line-height: 26px;
	color: #666; 
	margin-top: 10px; 
}

p, li { 
	padding: 0;  
}

html,
body {
	height: 100%;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.centered {text-align: center}
.mt {margin-top: 50px;}
.mb {margin-bottom: 50px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 80px; padding-bottom: 80px;}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}
::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a { 
	padding: 0;
	margin: 0;
	text-decoration: none; 
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
	color: #1abc9c;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}

.nopadding {
	padding: 0px !important;
	margin: 0px;
}


/* FORM CONFIGURATION */

/*input {
	font-size: 16px;
	min-height: 40px;
	border-radius: 2px;
	line-height: 20px;
	padding: 11px 30px 12px;
	border: 1px solid #b9b9af;
	margin-bottom: 10px;
	background-color: #fff;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.subscribe-input {
	float: left;
	width: 70%;
	text-align: left;
	margin-right: 2px;
}

.subscribe-submit {
	right: 0;
}

.btn-download {
	background: #FDE3A7;
}

/* Buttons */
/*.btn-design {
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-left: 8px;
	margin-right: 8px;
}

.btn-white {
	background: white;
	color: #2f2f2f;
}
.btn-white:hover {
	background: transparent;
	color: white;
	border: 1px solid white;
}

.btn-clear {
	background: transparent;
	color: white;
	border: 1px solid white;
}
.btn-clear:hover {
	background: white;
	color: #2f2f2f;
}*/



/* SLIDER */
#slides {
    position: relative;
    max-height: 1020px;
    background: #1D1D25;
}
#slides ul li img {
    opacity: 0.4;
}
.slides-pagination {
    margin-bottom: -40px;
}
.slides-navigation a i {
    padding: 5px;
    font-size: 30px;
    color: white;
    margin: 10px;
}
.slides-pagination a {
    display: block;
    display: inline-block;
    overflow: hidden;
    margin: 8px;
    margin-bottom: 60.5px;
    width: 20px;
    height: 20px;
    border: 4px inset #ffffff;
    border-radius: 1px;
    vertical-align: middle;
    text-indent: -100%;
    opacity: .3;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
    zoom: 1;
    zoom: 1;
}
.slides-pagination a.current {
    background: transparent;
    opacity: 0.9;
}

/* HERO banner with fixed position */

#bannertext {
    position: fixed;
    top: 33%;
    right: 0;
    left: 0;
    z-index: 2;
    margin: auto;
    max-width: 700px;
    color: #fff;
    text-align: center;
}
#bannertext h1 {
    position: relative;
    margin-bottom: 0;
    color: white;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 5.5em;
    line-height: 1em;
}
#bannertext h3 {
    position: relative;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
}
#bannertext p {
    margin-top:25px;
}
#bannertext hr {
	border: 1px solid white;
	width: 150px;
}
@media(max-width:767px) {
    #bannertext h1 {
        font-size: 60px;
    }
    #bannertext h3 {
        font-size: 16px;
    }
}
@media(max-width:480px) {
    #bannertext h1 {
        font-size: 30px;
    }
    #bannertext h3 {
        font-size: 13px;
    }
}


/* Portfolio Section*/
#portfolio {
    position: relative;
    padding-top: 0px;
    padding-bottom: 0px;
    background: #f2f2f2;
    width: 100%;
}

@media (min-width: 1580px) {
	.cbp-l-grid-fullScreen .cbp-item {
    /* @editable properties */
    min-width: 400px;
    max-height: 600px;
}
}

.cbp-item-wrapper {
    background: #2f2f2f;
    width: 100%;
}
.cbp-item-wrapper a img {
    display: block;
    width: 100%;
    background-image: center center;
    height: auto;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.cbp-item-wrapper a:hover img {
    opacity: 0.8;
}

/* CIRCLE Icons */
.circle-icon {
	width: 120px;
	height: 120px;
	margin: 0 auto;
	border-radius: 50%;
	background-color: transparent;
	border: 1px solid #2f2f2f;
	position: relative;
}
.circle-icon .icon {
	color: #2f2f2f;
	line-height: 120px;
	text-align: center;
}
.icon {
	font-size: 50px;
}

/* CONFIGURATION for White Section */
.w h5 {
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 20px;
}

.w hr{
	border: 1px solid #1abc9c;
	width: 40px;
}

.w img {
	width: 100%;
	height: auto;
}

.w .date {
	float: left;
	border: 2px solid #2f2f2f;
	margin-right: 15px;
	padding: 5px;
	margin-top: 10px;
	width: 60px;
	height: 60px;
	text-align: center;
}
.w .date h4 {
	font-weight: 700;
	margin-bottom: -5px;
	margin-top: 5px;
	font-size: 14px;
	text-transform: uppercase
}

.w .date bold {
	font-weight: 900;
	font-size: 16px;
}

.w .desc {
	font-size: 14px;
	margin-top: -5px;
	color: #aeaeae;
}

/* service panels*/
.ser {
	border: 2px solid #2f2f2f;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.ser p {
	margin: 5px;
}

/* Grey Section */
#g {
	background: #f2f2f2;
	padding-top: 40px;
}

/* TESTIMONIAL SECTION */
#t {
	background: url(../img/testimonial.jpg) no-repeat center top;
	padding-top: 60px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 400px;
	width: 100%;
	margin-top: 40px;
	color: white;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#t h5 {
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 20px;
}

#t hr{
	border: 1px solid #ffffff;
	width: 40px;
}

#t h4 {
	font-weight: 400;
}
#t p {
	color: white;
	margin-top: 15px;
}

/* FOOTER */
#f {
	padding-bottom: 40px;
	padding-top: 40px;
	margin-top: 50px;
	background: #2f2f2f;
	color: white;
}

#f .icon {
	margin-right: 25px;
	font-size: 35px;
}

/* COPYRIGHT */
#copyright {
	padding-bottom: 35px;
	padding-top: 35px;
	background: #010101;
	color: white;
}